<div class="container">
  
  <div id="title">
    
    <h1>{{title}}</h1>
  
  </div>
  <div id="forrecastCard">
     <h2>City</h2>
    <select name="city" id="city" #cityName aria-placeholder="Select city">
        <option value="" disabled selected>Select city</option>
        <option [value]="city" *ngFor="let city of cities">{{city}}</option>
    
    </select>
 
    <div class="forrecast">

      <div *ngFor="let day of cityForecast" class="card">
        <div class="day">{{   day.day | date:'EEEE'}}</div>
        <div class="day">{{   day.day | date:'MMM d'}}</div>
        <div>
            <img src="../../assets/icons/{{day.icon}}.png" alt="No Image"/>
        </div>
        <div class="temp">
            <div id="temprature">
               {{day.temprature}}&#8451;
            </div>
            
        </div>
      </div>
    </div>
    <div id="btnApply"> 
       <button (click)="getForrecast(cityName.value)">Apply</button>
    </div>
  </div>
</div>